@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Cores usadas na estilização da pagina*/
:root {
  --gradient-color: linear-gradient(135deg, #203040, #000000);
  --btn-color-blue: #0064E0; 
  --input-background-color: #1C2A33;
  --border-placeholder-color: #455A67;
  --create-account-color: #3A76A8;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-color);
  font-family: "Inter", sans-serif;
  font-weight: 900;  
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  width: 45vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vh;
  margin-top: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}



/* button-create */
.button-create {
  background-color: var(--btn-color-blue);
  color: white;
  border: none;
  height: 42px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-create:hover {
  background-color: white;
  color: var(--btn-color-blue);
}

.access-account {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: white;
  margin-top: 18vh;
}

.access-account a {
  margin-left: 3px;
  color: var(--btn-color-blue);
  text-decoration: none;
}

.terms {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.terms input {
  margin-right: 10px;
}

.terms a {
  color: var(--btn-color-blue);
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}


.file-selected::placeholder {
  color: var(--border-placeholder-color);
}

.melonzone {
  width: 200px;
  height: 27.63px;
}

.img-melonzone {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}