@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Cores usadas na estilização da pagina*/
:root {
  --gradient-color: linear-gradient(135deg, #203040, #000000);
  --btn-color-blue: #0064E0; 
  --input-background-color: #1C2A33;
  --border-placeholder-color: #455A67;
  --create-account-color: #3A76A8;
}

body {
  background: var(--gradient-color);
  font-family: "Inter", sans-serif;
  font-weight: 900;  
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  width: 45vh;
}



.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vh;
  margin-top: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}



/* Button */
.login-button {
  background-color: var(--btn-color-blue);
  color: white;
  border: none;
  height: 42px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: white;
  color: var(--btn-color-blue);
}

.recover-password {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.creat-account-button {
  background-color: transparent;
  color: var(--create-account-color);
  border: var(--create-account-color) solid 2px;
  height: 42px;
  border-radius: 20px;
  margin-top: 120px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.creat-account-button:hover {
  transform: scale(1.05);
}

.melonzone {
  width: 200px;
  height: 27.63px;
}

.img-melonzone {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.error-message {
  color: red;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 10px;
}
