:root {
  --color-name-user: #979595;
}

.search-profile-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-space {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pic-user-search {
  width: 37px;
  height: 37px;
  border-radius: 100%;
}

.search-user-content  {
  font-size: 12px;
  color: var(--color-name-user);
  font-weight: 500;
}

.search-name-user {
  color: white;
}

.delete-content {
  display: flex;
  justify-content: end;
}

.search-icon-x {
  color: var(--color-name-user);
}