
:root {
  --navbar-background:  #191919;
  --color-line: #3E4045;
}

.bottom-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--navbar-background);
  height: 64px;
  margin-top: 10px;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  width: 100%; /* Garante que o menu ocupe toda a largura */
  height: 60px;
  z-index: 1000;
}
