:root {
  --background-color: #020304;
  --submit-btn-color: #0064E0;
  --cancel-btn-color: #2C2C2C;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--background-color);
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 90vw; /* Ajustado para 90% da largura da tela */
  max-width: 500px; /* Definir um limite máximo de largura */
  height: auto; /* Ajuste para altura automática */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto; /* Centraliza o modal */
  overflow: hidden; /* Previne qualquer overflow */
}

.post-textarea {
  background-color: var(--background-color);
  color: #fff;
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
  resize: none;
  padding: 10px; /* Ajuste no padding */
  width: 100%; /* Largura total */
  height: 150px; /* Altura ajustada */
  margin-bottom: 10px;
  overflow-y: auto; /* Adiciona scroll vertical */
}

.file-input {
  display: none;
}

.image-name {
  color: white;
  font-size: 12px;
  outline: none;
  margin-bottom: 10px; /* Espaço entre o nome da imagem e os ícones */
}

.modal-actions {
  display: flex;
  border-top: 2px solid #fff;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  justify-content: space-between;
  background: var(--background-color);
}

.actions-add {
  display: flex;
  gap: 5px;
}

.icon-modal {
  color: #fff;
  font-size: 18px;
}

.submit-btn, .cancel-btn {
  height: 38px;
  border: none; 
  cursor: pointer;
  border-radius: 5px;
}

.actions-post-cancel {
  display: flex;
  gap: 6px;
}

.cancel-btn {
  background-color: var(--cancel-btn-color);
  font-weight: 600;
  border-radius: 20px;
  width: 90px;
  color: #fff;
}

.submit-btn {
  background-color: var(--submit-btn-color);
  font-weight: 600;
  border-radius: 20px;
  width: 70px;
  color: #fff;
}

.image-name {
  margin-left: 10px;
  margin-right: 10px;
}
