
.post-feed {
  flex-grow: 1;
  margin-top: 60px; /* Compensa a altura do navbar */
  overflow-y: auto;
  padding: 0; /* Remove padding extra */
  width: 100vw; /* Garante que ocupe 100% da largura da tela */ 
}

.post-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}