
:root {
  --time-ago-color: #929292;
  --heart-color: #ED494E;
}

.post {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
  max-width: 45vh;
  margin: 0;
  border-radius: 0;
  width: 100vw;
  margin-top: 20px;
}

.post img {
  max-width: 100%;
}

.post-image {
  height: 296px;
  width: 340px;
  border-radius: 13px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  
}

.post-header .bi-three-dots {
  font-size: 16px;
  margin-right: 0px;
}

.profile-info {
  display: flex;
  justify-content: start;
}

.post-info {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-left: 8px;
}

.post-info .username {
  font-weight: 700;
}

.icons-post {
  display: flex;
  justify-content: start;
  margin-left: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.heart-icon.liked {
  color: red; /* Cor vermelha quando curtido */
}

.icons-post .icon {
  font-size: 14px;
}

.post-footer {
  font-weight: 500;
}

.likes {
  font-size: 12px;
}

.time-ago {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: var(--time-ago-color);
}

.profile-pic {
  height: 30px;
  border-radius: 100%;
}


/* Estilo do ícone de ação heart */


.bi-heart {
  color: white; /* Cor padrão para o coração não curtido */
}

.liked {
  color: var(--heart-color); /* Cor do coração curtido */
}

