:root {
  --gradient-color: linear-gradient(135deg, #203040, #000000);
  --btn-color-blue: #0064E0; 
  --input-background-color: #1C2A33;
  --border-placeholder-color: #455A67;
  --create-account-color: #3A76A8;
}





.input-container{
  display: flex;
  align-items: center;
  background-color: var(--input-background-color);
  color: var(--border-placeholder-color);
  border-radius: 10px;
  height: 34px;
  padding-left: 18px;
  border: var(--border-placeholder-color) solid 1px;
}

.custom-file-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
}

.bi {
  margin-right: 10px;
  font-size: 1.5em;
}

.bi-upload-pic::before {
  color: var(--border-placeholder-color);
  font-size: 1.2em;
}

.input-upload {
  display: none;
}